@import "tailwindcss";

body {
  background-color: #070918;
  cursor: url('/cursor.png'), auto;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Poppins', sans-serif;
}