@import "tailwindcss";

body {
  background-color: #070918;
  cursor: url('/cursor.png'), auto;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, 10px); }
  10% { opacity: 1; transform: translate(-50%, 0px); }
  90% { opacity: 1; transform: translate(-50%, 0px); }
  100% { opacity: 0; transform: translate(-50%, 10px); }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease forwards;
}
